#include "Version.xcconfig"
SLASH = /

PRODUCT_NAME = Copilot for Xcode Dev
BUNDLE_IDENTIFIER_BASE = dev.com.intii.CopilotForXcode
EXTENSION_BUNDLE_NAME = Copilot Dev
SPARKLE_FEED_URL = http:$(SLASH)$(SLASH)127.0.0.1:9433/appcast.xml
SPARKLE_PUBLIC_KEY = WDzm5GHnc6c8kjeJEgX5GuGiPpW6Lc/ovGjLnrrZvPY=
APPLICATION_SUPPORT_FOLDER = dev.com.intii.CopilotForXcode
GROUP_ID = 5YKZ4Y3DAW
USER_DEFAULT_SUITE_NAME = 5YKZ4Y3DAW.group.com.intii.CopilotForXcode
KEYCHAIN_SERVICE = com.intii.CopilotForXcode
KEYCHAIN_GROUP = 5YKZ4Y3DAW.shared
