#include "Version.xcconfig"
SLASH = /

HOST_APP_NAME = Copilot for Xcode
BUNDLE_IDENTIFIER_BASE = com.intii.CopilotForXcode
EXTENSION_BUNDLE_NAME = Copilot
SPARKLE_FEED_URL = https:$(SLASH)$(SLASH)raw.githubusercontent.com/intitni/CopilotForXcode/main/appcast.xml
SPARKLE_PUBLIC_KEY = WDzm5GHnc6c8kjeJEgX5GuGiPpW6Lc/ovGjLnrrZvPY=
APPLICATION_SUPPORT_FOLDER = com.intii.CopilotForXcode
GROUP_ID = 5YKZ4Y3DAW
USER_DEFAULT_SUITE_NAME = 5YKZ4Y3DAW.group.com.intii.CopilotForXcode
KEYCHAIN_SERVICE = com.intii.CopilotForXcode
KEYCHAIN_GROUP = 5YKZ4Y3DAW.shared
