<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPLICATION_SUPPORT_FOLDER</key>
	<string>$(APPLICATION_SUPPORT_FOLDER)</string>
	<key>APP_ID_PREFIX</key>
	<string>$(AppIdentifierPrefix)</string>
	<key>BUNDLE_IDENTIFIER_BASE</key>
	<string>$(BUNDLE_IDENTIFIER_BASE)</string>
	<key>EXTENSION_BUNDLE_NAME</key>
	<string>$(EXTENSION_BUNDLE_NAME)</string>
	<key>HOST_APP_NAME</key>
	<string>$(HOST_APP_NAME)</string>
	<key>TEAM_ID_PREFIX</key>
	<string>$(TeamIdentifierPrefix)</string>
	<key>XPCService</key>
	<dict>
		<key>ServiceType</key>
		<string>Application</string>
	</dict>
</dict>
</plist>
